.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.title {
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 20px;
    border-radius: 30px;
    justify-content: center;
  }


.weathercard {
    grid-column: 1;
    grid-row: 2 / 5;
    margin: 20px;
    border-radius: 30px;
    background-color:rgb(117, 2, 174);
  }

  .playlistcard {
    grid-column: 3;
    grid-row: 2 / 5;
    margin: 20px;
    border-radius: 30px;
    background-color:rgb(117, 2, 174);
  }


.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow:  8px 16px rgba(57, 57, 57, 0.2);
    transition: 0.5s;
    flex-shrink: 3;
    width: 1000px; */
    margin: 20px;
    border-radius: 30px;
    background-color:rgb(117, 2, 174);
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow:  8px 16px rgba(73, 65, 65, 0.2);
    transition: .5s;
}
  /* Add some padding inside the card container */




body {
    border: 10px white;
    margin: 10px;
    height: 100vh;
    font-family: termina, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(78, 249, 40);
    background-color:black;
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: scroll;
    height: 100%;
    width:100%;
}


/*#weather-background{
    display: flex;
    color: rgb(241, 228, 228);
    flex-direction: row;
    align-items: flex-end;
}

#playlist-background{
    display: flex;
    color: rgb(241, 228, 228);
    flex-direction: row;
    align-items: flex-end;
}*/
