.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1em;
    grid-auto-rows: repeat(8, 1fr);
    justify-content: center;
}

/*.wrapper:hover {
    box-shadow:  8px 16px rgba(73, 65, 65, 0.2);
    transition: .5s;
}*/

h2 {
    font-family: termina, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(69, 245, 21);
    background-color:black;
}

#forecast {
    grid-column: 2;
    grid-row: 2;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
  }

button.search{
    position: absolute;
    align-items: center;
    font-family: termina, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(78, 249, 40);
    background-color:black;
}

.backcard {
    grid-column: 2;
    grid-row: 3;
    /*margin: 5px;
    padding-left: 10px;*/
    margin: 20px;
    background-color:rgb(117, 2, 174);
    padding: 50px;
  }

  .backcard:hover{
    box-shadow:  8px 16px rgba(10, 237, 40, 0.2);
    transition: .5s;
}

#weather-list {
    font-family: termina, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(2, 8, 1);
    font-size: larger;
    justify-content: center;

    /*justify-content: center;
    margin: 10px;
    border-radius: 10px;*/
  }

  .filter {
    grid-column: 1;
    grid-row: 2;
    /*margin: 20px;
    border-radius: 30px;*/
    justify-content: center;
  }

  h1 {
    font-family: termina, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(78, 249, 40);
    grid-column: 6;
    grid-row: 1;
    justify-content: center;
    /*margin: 10px;
    border-radius: 10px;*/
  }

  .playcard {
    grid-column: 4 / 6 ;
    grid-row: 2 / 4;
    margin: 5px;
    /*border-radius: 30px;*/
    background-color:rgb(5, 0, 6);
    justify-content: center;
    padding: 50px;
  }
    .playcard:hover{
        box-shadow:  8px 16px rgba(73, 65, 65, 0.2);
        transition: .5s;
    }

  .playlist{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    justify-content: right;
  }

  #new-playlist {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: termina, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#FFFFFF;
    background-color:rgb(117, 2, 174);
    text-align:center;
    transition: all 0.2s;
    }
        #new-playlist:hover{
        background-color:#f600dd;
        }
        @media all and (max-width:5em){
        #new-playlist{
        display:block;
        margin:0.2em auto;
        }
        }

body {
    font-family: termina, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(5, 16, 2);
    background-color:black;
    /*background-size:100%;
    background-repeat: repeat-y;
    background-attachment: scroll;
    border: 10px white;
    margin: 10px;
    height: 100vh;
    height: 100%;
    width:100%;
    */
}