.wrapper {
  display: grid;
  grid-auto-columns: repeat(6, 1fr);
  row-gap: 1em;
  grid-auto-rows: repeat(8, 1fr);
  justify-content: center;
}

.wrapper:hover {
  box-shadow:  8px 16px rgba(73, 65, 65, 0.2);
  transition: .5s;
}

#weather-title {

  font-family: termina, sans-serif;

  font-weight: 600;

  font-style: normal;

  color: rgb(31, 22, 17);

  background-color: transparent;

  margin-top: 35px;

  margin-bottom: 20px;

  margin-left: 94px;

  justify-content: center;

}



#forecast {

  border-radius: 10px;

  justify-content: center;

  padding-left: 40px;

  padding-right: 20px;
  

}

#searchbar {

  position: absolute;

  align-items: center;

  font-family: termina, sans-serif;

  font-weight: 400;

  font-style: normal;

  color: rgb(26, 20, 16);


  display: inline-block;

  padding: 0.3em 1.2em;

  margin: 0 0.1em 0.1em 0;

  border-radius: 2em;

  box-sizing: border-box;

  text-decoration: none;

  font-family: termina, sans-serif;

  font-weight: 400;

  font-style: normal;

  color: #FFFFFF;

  background-color: rgb(235, 170, 30);

  text-align: center;

  transition: all 0.2s;

  margin-top: 28px;

  margin-left: 101px;
;

}



.backcard {

  /*margin: 5px;

  padding-left: 10px;*/

  grid-row: 2;

  margin: 111px;

  background-color: rgb(245, 205, 110);

  padding: 142px;

  border-radius: 30px;

  margin-top: 28px;

  margin-left: 101px;

  margin-top: 28px;

  margin-left: 101px;

}



.backcard:hover {

  box-shadow: 8px 16px rgba(191, 75, 29, 0.2);

  transition: .5s;

}



#weather-list {

  font-family: termina, sans-serif;

  font-weight: 700;

  font-style: normal;

  color: rgb(4, 5, 4);

  font-size: medium;

  justify-content: center;


}



.filter {

  /*margin: 20px;

  border-radius: 30px;*/

  justify-content: center;

}



h3 {

  font-family: termina, sans-serif;

  font-weight: 600;

  font-style: normal;

  color: rgb(54, 31, 14);

  grid-column: 6;

  grid-row: 1;

  justify-content: center;

  /*margin: 10px;

  border-radius: 10px;*/

}



.playcard {

  grid-column: 4;

  grid-row: 2;

  margin: 5px;

  border-radius: 30px;

  background-color: rgb(245, 205, 110);

  justify-content: center;

  padding: 50px;

  margin-left: 101px;

  margin-right: 28px;

}

.playcard:hover {

  box-shadow: 8px 16px rgba(73, 65, 65, 0.2);

  transition: .5s;

}


.playlist {

  justify-content: right;

}




body {

  font-family: termina, sans-serif;

  font-weight: 400;

  font-style: normal;

  color: rgb(30, 25, 11);

  background-color: rgb(250, 221, 152);

  background-image:url('https://64.media.tumblr.com/8a9f9f1c663730b0cd2c848d16e3053c/tumblr_ommbmm3pKp1rnbw6mo1_1280.gifv');

  background-size:100%;

  background-repeat: repeat-y;

  background-attachment: scroll;

  margin: 10px;

  height: 100px;

  height: 100%;

  width:100%;

}